
.filter-design{
    height: 300px!important;
    overflow-y: scroll;
    margin-top: 2%;
    margin-bottom: 2%
}

.form-control.selected {
    background-color: lightgrey !important;
}
/* .datepicker >.form-group{
    margin-bottom: 0px;
} */
.form-group.date{
    margin-bottom: 0px;
}
label{
    font-size: 12px;
}