<footer class="footer clearfix hidden-sm-down">
    <div class="float-xs-left footer-content">
        <img class="footer-logo" src="./assets/images/wtw-logo.png" alt="Willis Towers Watson">
        <a class="footer-link" href="javascript:void(0);" (click)="openTermsOfUseModal()">Disclaimer and Terms of Use</a>
               <a class="footer-link" href="https://www.willistowerswatson.com/en/privacy-and-cookies" target="_blank">Privacy and Cookies</a>
        <a class="footer-link" href="mailto:oneplacesupport@willistowerswatson.com?subject=OnePlace%20Support%20Risk%20Intelligence%20Energy%20Losses">Support</a>
        <a class="footer-link" href="https://oneplace.ehr.com/_layouts/15/oneplace/training.aspx" target="_blank">Training Material</a>
    </div>
    <div class="float-xs-right">
        <small class="footer-copyright">Copyright &copy; 2018 Willis Towers Watson. All rights reserved</small>
    </div>
</footer>
<footer class="footer clearfix hidden-md-up">    
    <div class="float-xs-left footer-content">
        <img class="footer-logo" src="./assets/images/wtw-logo.png" alt="Willis Towers Watson" /><br>
        <a class="footer-link" href="javascript:void(0);" (click)="openTermsOfUseModal()">Disclaimer and Terms of Use</a><br>
                <a class="footer-link" href="https://www.willistowerswatson.com/en/privacy-and-cookies" target="_blank">Privacy and Cookies</a><br>
        <a class="footer-link" href="mailto:oneplacesupport@willistowerswatson.com?subject=OnePlace%20Support%20Risk%20Intelligence%20Energy%20Losses">Support</a><br>
        <a class="footer-link" href="https://oneplace.ehr.com/_layouts/15/oneplace/training.aspx" target="_blank">Training Material</a>
    </div>
    <div class="text-xs-right">
        <small class="footer-copyright">Copyright &copy; 2018 Willis Towers Watson. All rights reserved</small>
    </div>
</footer>
