<div class="hidden-sm-down">
    <div class="input-field">
        <input autocomplete="off" id="txtSearch" type="text" class="validate autocompleter filter-input-box form-control" [(ngModel)]="searchText" (keyup)="onSearch()" (click)="showFilteredList=!showFilteredList">
    </div>
    <div class="suggestions" *ngIf="filteredList !=null && filteredList.length > 0  && showFilteredList">
        <ul class="none">
            <li *ngFor="let item of filteredList">
                <label data-toggle="tooltip" class="autocompleter">
                        <input type="checkbox" class="autocompleter" [value]="item.displayName" [checked]="item.checked" (change)="onSelect(item)" [id]="item.id">
                        {{item.displayName}}
                </label>
            </li>
        </ul>
    </div>
</div>

<div class="hidden-md-up">
    <div class="input-field">
        <input id="txtSearch" type="text" class="validate autocompleter filter-input-box form-control" [(ngModel)]="searchText" (keyup)="onSearch()" (click)="showFilteredList=!showFilteredList">
    </div>
    <div class="suggestions-mbl" *ngIf="filteredList !=null && filteredList.length > 0 && showFilteredList">
        <ul class="none">
            <li *ngFor="let item of filteredList">
                <label data-toggle="tooltip" class="autocompleter">
                        <input type="checkbox" class="autocompleter" [value]="item.displayName" [checked]="item.checked" (change)="onSelect(item)" [id]="item.id">
                        {{item.displayName}}
                </label>
            </li>
        </ul>
    </div>
</div>