<div>
  <div class="bg-software-gray-1 p-1 indexing-header">
    <h5 class="display-1 d-inline-block">
      Welcome to Energy Losses Database
    </h5>
  </div>
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <div class="" style="padding-top:40px;">
      <div class="alert alert-warning alert-dismissible fade in" role="alert">
        You are logged out from the application. Click
        <a class='text-primary' (click)='onLoginAgain()'> Here </a> to login again.
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
  </div>