<div class="hidden-sm-down">
        <div class="bg-software-gray-1 p-1 indexing-header">
          <h5 class="display-1 d-inline-block left-pad" style="margin-left:120px;">
            Welcome to Energy Losses Database
          </h5>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-10 push-md-1">
          <div class="" style="padding-top:40px;padding-left:35px;">
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
              Your session has expired and you have been logged out
            </div>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      
      <div class="hidden-md-up">
        <div class="bg-software-gray-1 p-1 indexing-header">
          <h5 class="display-1 d-inline-block left-pad-mob">
            Welcome to Energy Losses Database
          </h5>
        </div>
      </div>
      <div class="col-sm-12 col-xs-12 margins hidden-md-up">
        <div class="alert alert-warning alert-dismissible fade in" role="alert">
          Your session has expired and you have been logged out
        </div>
      </div>