.btn-margin {
    margin-top: 10px;
}

/* tr.bottom-pad td {
    padding-bottom:26px;
} */
.table th {
    border-top: 0px solid #eceeef;
}
.margin-top{
    margin-top: 10px;
}
.tspan{
    color: #333333;
    font-size: 18px;
    fill: #333333;
    font-weight: 500;
}