.btn-invisible
{
    visibility: hidden;
}
.no-padding
{
    padding:0px;
}

.alert-text{
    color:red;
}

.left-padding
{
    padding-left: 5px;
}

.scroll-css
{
    overflow: auto;
    max-height: 60vh;

}